body {
  background-color: #A0522D
}

body {
  text-align: center;
}

p {
  color:#ffffff
}

h1 {
  color: #ffffff
}

h2 {
  color: #ffffff
}

h3 {
  color: #ffffff
}

h4 {
  color: #ffffff
}

h5 {
  color: #ffffff
}

h6 {
  color: #ffffff
}

.index {
  margin: 3em;
}

.font-1 {
  font-family: 'Permanent Marker', cursive;
}

#blub {
  text-decoration: underline;
}

#yeet {
  border-style: outset;
}

.size {
  font-size: 14pt;
}
